{% extends "base.html" %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <!-- Heading / navagation bar -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <h2>Welcome to TubeIt!</h2>
            </div>
        </div>
    </div>

    <!-- A jumbatron subhead to explain what to do -->
    <header class="jumbotron subhead" id="overview">
      <div class="container">
        <h1>Where do you want to go?</h1>
        <p class="lead">Input a destination and we'll make a pub crawl map
        </p>
      </div>
    </header>

    <!-- The query form -->
    <div class='container'>
        <form class="form-{{ layout }}" action="{{ current_path }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if layout == "horizontal" %}
                <input type="submit" value="TubeIt!" class="btn btn-primary">
            {% else %}
                <input type="submit" value="TubeIt!" class="btn btn-primary">
            {% endif %}
        </form>
    </div>

    <!-- How to do a static progress bar -->
    <div>
        <p class="lead">We're thinking ....</p>  
        <div class="progress progress-striped active">

             <div class="bar" style="width: 100%;"></div>  
        </div> 
    </div>

{% endblock %}