<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}base.css" />
    {% block scripts %}{% endblock %}
    <title>{% block title %}Tubego{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <ul>
                <li><a href="/map/search/">Search</a></li>
            </ul>
        </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
        {% include "messages.html" %}
    </div>
</body>
</html>